.productlist {
    padding: 50px 100px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.pl-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pl-title {
    margin: 1rem 0;
    font-size: 40px;
    text-transform: capitalize;
    font-weight: 700;
}

.pl-desc {
    display: flex;
    line-height: 25px;
    width: 70%;
    height: 50%;
    justify-content: center;
    align-items: center;
}

.pl-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* justify-content: space-between; */
}

/* @media screen and (max-width: 600px) {

    .productlist { 
    padding: 10px;
    display: flex;
  }

  .pl-text {
    width: 100%;
  }

  .pl-desc {
    margin: 20px 0px;
  }
} */