.about {
    display: flex;
    align-items: center;
    padding: 1rem;
    gap:2rem
}

.about-left {
    flex: 1;
    
}

.about-img {
    width: 100%;
    height: 100%;
}

.about-right {
    flex: 1;
    display: inline-block;
    line-height: 1.6rem;
}

.about-title h1{
    font-weight: 400;
    text-transform: capitalize;
    font-size: 32px;
}

.about-sub {
    margin: 2rem 0rem;
}

.about-desc {
    font-weight: 300;
    margin-left: 10px;
}

@media screen and (max-width: 600px) {
    .about {
        flex-direction: column;
        text-align: center;
    }

    .about-title h1 {
        font-size: 28px;
    }

    .about-desc {
        display: none;
    }

}



