.product {
    width: 300px;
    height: 40vh;
    margin: 20px 30px;
    border: 2px solid rgb(243, 242, 242);
    border-radius: 10px 10px 0px 0px;
    overflow: hidden; 
}

.p-broswer {
    height: 20px;
    background-color: rgb(243, 242, 242);
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    z-index: 2;
}

.p-circle {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: white;
    margin: 4px;
}
