.contact {
    display: flex;
    height: 100vh;
    padding: 50px;
}

.c-left {
    flex: 1;
}

.c-right {
    flex: 1;
}

.c-title {
    font-size: 600;
    text-transform: capitalize;
    font-size: 50px;
    width: 80%;
}



.c-info-items {
    display: flex;
    align-items: center;
}

.c-icon{
    width: 30px;
    height: 30px;
    margin: 20px 10px   
} 

.c-socials {
    margin: 30px 10px;
}

.social-title {
    font-size: 28px;
    font-weight: 600;
}
.c-socials-icons {
    display: flex;
    align-items: center;
    justify-content: center;
}

i {
    margin: 2rem;
    font-size: 2rem;
    color: black;
}

.social-icon {
    margin-top: 10px;
    margin-right: 10px;
    width: 80px;
    height: 8px;
}

.c-desc {
    width: 80%;
    font-weight: 200;
    line-height: 20px;
    margin: 10px 0px;
}

form {
    margin-top: 30px;
}

input {
   width: 60%;
   height: 50px;
   border: none;
   outline: none;
   border-bottom: 1px solid grey;
   margin: 10px 0px;
   font-size: 14px;
   padding-left: 10px;
}

textarea {
    width: 100%;
    margin: 10px 0px;
    outline: none;
    padding: 10px;
}

.btn {
    width: 80px;
    padding: 10px;
    background-color: #b2ceed;
    cursor: pointer;
    border: none;
}


