nav {
    width: 100%;
    height: 80px;
}

.navbar-list {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    list-style: none;
}


li {
    margin: 0px 40px;
}

li:hover {
    cursor: pointer;
    color: #59b256;
    transition: all 0.5s ease-in-out;
}

li.active {
    color: #59b256;
    border-bottom: 2px solid #59b256;
    transition: all 0.5s ease-in-out;
}


