.intro {
    display: flex;
    height: 100vh;
}

.intro-left {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro-right {
    flex: 1;
}

.intro-left-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px;
    height: 50%;
    
}

.i-intro {
    font-size: 30px;
    font-weight: 300;
    text-transform: capitalize;
}

.intro-name {
    font-size: 60px;
}

.intro-title {
    height: 50px;
    overflow: hidden;
}

.intro-title-wrapper {
    height: 100%;
    animation: move 10s ease-in-out infinite alternate;
}

@keyframes move {
    25%{
        transform: translateY(-50px);
    }
    50%{
        transform: translateY(-100px);
    }
    75%{
        transform: translateY(-150px);
    }
    100%{
        transform: translateY(-200px);
    }
    125%{
        transform: translateY(-250px);
    }
}

.intro-title-items {
    height: 50px;
    font-size: 30px;
    font-weight: bold;
    color: #59b256;
    display: flex;
    align-items: center;
    text-transform: capitalize;
}

.intro-desc {
    display: block;
    margin-top: 1rem;
}

.intro-img {
    width: 80%;
    height: 80%;
    padding: 2rem;
    margin-top: 2rem;
    object-fit: cover;
}

@media screen and (max-width: 600px) {
    .intro{
        flex-direction: column;
    }

    .intro-left-wrapper {
        padding: 10px;
        align-items: center;
        text-align: center;
        justify-content: center;
        height: 100%;
    }

    .intro-desc {
        display: none;
    }
}